/* ************************************* */
/*   App CSS                             */
/* ************************************* */


/* --------------Colors To be Used-------------- */
/* background brownish: #2a1a12 */
/* text: #99a6a7 */
/* text featured: #8c546d */

* {
box-sizing: border-box;
}

html,body {
height: 100%;
  }

body {
align-items: center;
background:#2a1a12;
color: #99a6a7;
display: flex;
font-family: 'Milonga', cursive;
font-size: 18px;
justify-content: center;
margin: 0;
padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: #8c546d;
}

h1 {
  font-size: 36px;
}

img {
  display: flex;
    align-items: center;
    justify-content: center;  
}



/* ************************************* */
/* button
/* ************************************* */

.btn {
  background: #a4d7d3;
  border-radius: 4px;
  padding: 12px 0;
  transition: background 0.25s linear
}

.btn:hover {
  background: #c7e7e4;
}

/* ------------------------------------- */
/*   Forms
/* ------------------------------------- */

form {
  text-align: left;
}

input {
  border: 0;
  border-radius: 4px;
  display: block;
  font-family: 'Milonga', cursive;
  font-size: 16px;
  padding: 8px;
  width: 100%;
}

input[type='submit'] {
  display: block;
  margin: 18px auto 0 auto;
  width: 50%;
}

label {
  display: block;
  font-size: 16px;
  margin-bottom: 4px;
}

fieldset {
  border: 0;
  padding: 5px 0;
}
