/*BASIC STYLING FOR THE CARDS*/
.CardDiv {
  background: #FFF none repeat scroll 0 0;
  border: medium none;
  box-shadow: 3px 3px 3px rgba(44, 62, 80, 0.1);
  margin-top: 20px;
  padding: 10px;
  text-align: center;
  cursor:pointer;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

/*styling for the cards title*/
.CardDiv h4 {
  background: #004969  none repeat scroll 0 0;
  color: #FDFDFD;
  font-size: 17px;
  margin: -10 -10px 20px;
  padding: 6px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

/*STYLING FOR EACH CARD WHEN THAT CARD IS ACTIVE, THAT WILL SAY, IN THE RIGHT COLUMN*/
/*maintenance*/
.cardDivM h4{
  background: #14C6E3;
}

/*defect*/
.cardDivD h4 {
  background: #0091D2;
}

/*the value key font color of the inactive key*/
.CardDivValues {
  display: inline-block;
  font-weight: normal;
  color: #C0E2F5;
}

/*the value property font color of the inactive property*/
.CardDivValues .CardDivValuesSpan{
  color: #C0E2F5;
}

/*the value key font color of the active key*/
.Active {
  font-family: 'Roboto', sans-serif;
  font-size: 1.3em;
  font-weight: 900;
  text-shadow: 1px 1px 1px #D4D4D4;
  color: #027EBE;
}

/*the value property font color of the active property*/
.Active .CardDivValuesSpan{
  color: #027EBE;
  font-weight: 900;
}

/*DOLLAR SIGN/VALUE STYLING*/
/*the dollar sign color*/
.CardDivDollar {
  color: #004969;
  font-weight: bold;
}

/*the money value font color*/
.CardDivValuesSpan {
  font-weight: bold;
  color: #004969;
}

.dollar-sign {
	color: #CC0000;
	margin-right:4px;
}

/*PRIO BUTTON*/
.prio {
  color: #FFF;
  background: #004969;
  border: none;
  outline: none;
}
