.glyphicon-chevron-right{
  background: none;
  border: none;
  padding: 1px;
  height: 14px;
  width: 16px;
  color: #004969;
}

.glyphicon-chevron-left{
  background: none;
  border: none;
  padding: 1px;
  height: 14px;
  width: 16px;
  color: #004969;
}

.glyphicon-transfer{
  background: none;
  border: none;
  padding: 1px;
  height: 14px;
  width: 16px;
  color: #004969;
}
