/*gameover text*/
.gameoverHeadline {
  text-align: center;
  padding: 50px;
}

/*highscore text*/
.highScoreFinal {
  box-shadow: 0 0 5px black;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}
