.highScore td{
	text-align: center;
  	border-bottom: 2px solid #004969;
  	padding-top: 5px;
  	padding-bottom: 2px;
  	font-size: 1.2em
}
.highScore th{
	padding-bottom: 10px;
	text-align: center;
}

.topTen {
	margin-bottom: 25px;
}
