/*the highscore table*/
.highScore td {
	text-align: center;
  border-bottom: 2px solid #004969;
	padding: 5px 0 2px 0;
  font-size: 1.2em
}

/*highscore thead*/
.highScore th {
	padding-bottom: 10px;
	text-align: center;
}

/*highscore top ten*/
.topTen {
	margin-bottom: 25px;
}
