.teamnameInput {
  width: 40%;
  padding-bottom: 10px;
  outline: none;
  margin-bottom: 10px;
  font-family: 'Roboto', sans-serif;
  color: #004969;
  border: none;
  text-align: center;
  font-size: 1.5em;
  border-bottom: 2px solid #004969;
  font-weight: bold;
}
