.teamnameInput {
  width: 40%;
  height: 70px;
  outline: none;
  margin: 10px;
  font-family: 'Roboto', sans-serif;
  color: #004969;
  border: none;
  text-align: center;
  font-size: 2.5em;
  border-bottom: 2px solid #004969;
  font-weight: bold;
}
