.login-form {
  width: 59%;
  float: right;
}

.login-button {
  width: 20%;
  background-color: #004969;
  color: #FFF;
  display: block;
  margin-left: 5%;
}

.login-input {
  width: 30%;
  height: 5%;
  font-size: 1.5em;
  display: block;
  text-align: center;
}

.login-message {
 float: left;
}

@media screen and (max-width: 900px) {

.login-message {
  margin-left: -20%;
}

.login-input {
  font-size: 1em;
}

}
