/*basic styling for table, thead and trow*/
td, th, tr {
  border: none;
  color: #004969;
}

/*RELEASEPLAN TABLE*/
/*the releaseplan heading*/
.modal-title {
	font-size: 2em;
  font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	color: #004969;
}

/*the border under the sprints and money earned*/
.ReleasePlan td {
	text-align: center;
  padding: 5px 0 2px 0;
  border-bottom: 2px solid #F2F2F2;
}

/*individual styling for the tables*/
.ReleasePlan td:first-child {
	white-space: nowrap;
}

.ReleasePlan .table td, .ReleasePlan .table th {
	vertical-align: middle;
}


/*RETROSPECTIVE TABLE*/
.RetrospectiveTable {
	margin-top: 30px;
}

/*retrospective heading*/
.RetrospectiveTable th {
	font-size: 1.2em;
	text-align: center;
	padding-bottom: 2px;
}

/*border bottom under every sprint*/
.RetrospectiveTable td {
  padding: 5px 0 2px 0;
	border-bottom: 2px solid #F2F2F2;
}

/*current day in releaseplan background*/
.modal-body .ReleasePlan .ReleasePlanDayCurrent {
	text-align: center;
	padding: 0;
	margin: 0;
	background: #00ACE7;
  border: none;
	border-radius: 0px;
	cursor: auto;
	box-shadow: none;
}

.modal-body .ReleasePlan .ReleasePlanDay {
	text-align: center;
	color: #CCC;
	padding: 0;
	margin: 0;
	background: #FFF;
	cursor: auto;
	border: none;
	border-bottom: 2px solid #F2F2F2;
  border-radius: 0px;
	box-shadow: none;
}

.modal-body .ReleasePlan .ReleasePlanDayDone {
	text-align: center;
	padding: 0;
	margin: 0;
	background: #004969;
  border: none;
	border-radius: 0px;
	cursor: auto;
	box-shadow: none;
}

.modal-body .ReleasePlan .ReleasePlanDayDone:before {
	background: none;
}

.modal-body .ReleasePlan .ReleasePlanDayDone:after {
	background: none;
}
