/*Team font styling*/
.teamfont {
  font-weight: 700;
  text-transform: uppercase;
  border-bottom: 2px solid #c4c4c4;
  background-color: #ededed;
  color: #004969;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
  line-height: 50px;
}

.navbarColor {
	background-color: white;
}

/*the animation transition on background color*/
.dropdown-menu>li>a {
	transition: all 0.3s ease;
}

/*the navbar background color*/
.dropdown-menu>li>a:hover {
	background-color: #00ACE7;
	transition: all 0.3s ease;
}

.navbar-default .navbar-nav>li>a: {
	transition: all 0.3s ease;
}

.navbar-default .navbar-nav>li>a:hover {
  background-color: rgba(0,73,105, 0.1  );
  transition: all 0.3s ease;
}
