.teamfont {
  font-weight: 700;
  text-transform: uppercase;
  border-bottom: 2px solid #004969;
  background-color: #ededed;
  color: #004969;
  /*center Team Name*/
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
  line-height: 50px;
}

.navbarColor{
	background-color: white;
}
.dropdown-menu>li>a{
	transition: all 0.3s ease;
}
.dropdown-menu>li>a:hover{
	background-color: #00ACE7;
	transition: all 0.3s ease;
}

.navbar-default .navbar-nav>li>a:{
	transition: all 0.3s ease;

}

.navbar-default .navbar-nav>li>a:hover{
	background-color: #00ACE7;
	transition: all 0.3s ease;
}
