.teamfont {
  font-weight: 700;
  text-transform: uppercase;
  border-bottom: 2px solid #0091D2;
  background-color: #ededed;
  color: #004969;
}
.navbarColor{
	background-color: white;
}
.dropdown-menu>li>a{
	transition: all 0.3s ease;
}
.dropdown-menu>li>a:hover{
	background-color: #00ACE7;
	transition: all 0.3s ease;
}

.navbar-default .navbar-nav>li>a:{
	transition: all 0.3s ease;

}

.navbar-default .navbar-nav>li>a:hover{
	background-color: #00ACE7;
	transition: all 0.3s ease;
}
