.ReleasePlanWeek {
  display: inline;
  background: #ededed;
  color: #444;
  border: 2px solid #0091D2;
  border-top: none;
  border-radius: 2px 2px 10px 10px;
  box-shadow: 5px 5px 10px #ededed;
  padding: 15px 10px;
  width: 80px;
}

@media only screen and (max-width: 767px) {
  .ReleasePlanWeek {
    margin-top: 20px;
  }
}
