.ReleasePlanDay {
  display: inline;
  background: #c4c4c4;
  color: #444;
  border: 2px solid #444;
  border-top: 1px solid #444;
  border-radius: 2px 2px 10px 10px;
  box-shadow: 5px 5px 10px #ededed;
  /*padding: 15px 10px;*/
  margin: 10px 0 0 1px;
  transition: all 0.5s ease;
  cursor: not-allowed;
}

.ReleasePlanDayCurrent {
  display: inline;
  background: #00ace7;
  color: #004969;
  border: 2px solid #004969;
  border-top: 1px solid #004969;
  border-radius: 2px 2px 10px 10px;
  box-shadow: 5px 5px 10px #ededed;
  cursor: pointer;
  padding: 15px 10px;
  margin: 10px 0 0 1px;
  transition: all 0.5s ease;
}

.ReleasePlanDayDone {
  display: inline;
  background: #004969;
  color: #0091D2;
  border: 2px solid #0091D2;
  border-top: 1px solid #0091D2;
  border-radius: 2px 2px 10px 10px;
  box-shadow: 5px 5px 10px #ededed;
  padding: 15px 10px;
  margin: 10px 0 0 1px;
  overflow: hidden;
  cursor: not-allowed;
  transition: all 1s ease;
}

.ReleasePlanDayDone:before, .ReleasePlanDayDone:after {
    position: absolute;
    content: '';
    background: #0091D2;
    display: block;
    width: 100%;
    height: 4px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    transition: all 1s ease;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto auto;
    transition: all 1s ease;
}

.ReleasePlanDayDone:after {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    transition: all 1s ease;
}

@media only screen and (max-width: 767px) {
  .ReleasePlanDayCurrent {
    margin: 30px 0 0 1px;
  }
}
