/*STYLING FOR THE SPRINTS AND EVERY DAY*/
/*The inactive days of the sprint*/
.ReleasePlanDay {
  display: inline;
  background: #C4C4C4;
  color: #444;
  border-top: 2px solid #C4C4C4;
  border-radius: 2px 2px 10px 10px;
  box-shadow: 5px 5px 10px #EDEDED;
  margin: 0 0 0 1px;
  transition: all 0.5s ease;
  cursor: not-allowed;
  -webkit-box-shadow: inset 0px 1px 2px 0px rgba(0,0,0,0.2);
     -moz-box-shadow: inset 0px 1px 2px 0px rgba(0,0,0,0.2);
          box-shadow: inset 0px 1px 2px 0px rgba(0,0,0,0.2);
}

/*current day*/
.ReleasePlanDayCurrent,
.ReleasePlanDayDone {
  display: inline;
  border: 2px solid #C4C4C4;
  border-radius: 2px 2px 10px 10px;
  box-shadow: 5px 5px 10px #EDEDED;
  cursor: pointer;
  padding: 14px 10px;
  margin: 0 0 0 1px;
  transition: all 0.5s ease;
  -webkit-box-shadow: inset 0px 1px 2px 0px rgba(0,0,0,0.2);
     -moz-box-shadow: inset 0px 1px 2px 0px rgba(0,0,0,0.2);
          box-shadow: inset 0px 1px 2px 0px rgba(0,0,0,0.2);
}

.ReleasePlanDayCurrent {
  background: #00ACE7;
  color: #004969;
}

/*the previous day*/
.ReleasePlanDayDone {
  background: #004969;
  color: #0091D2;
}

/*the 'X' over the previous day*/
.ReleasePlanDayDone:before, .ReleasePlanDayDone:after {
  position: absolute;
  content: '';
  background: #C4C4C4;
  display: block;
  width: 70%;
  height: 4px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  transition: all 1s ease;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto auto;
}

.ReleasePlanDayDone:after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  transition: all 1s ease;
}

/*THE CURRENT WEEK (SPRINT)*/
.ReleasePlanWeek {
  display: inline;
  background: #EDEDED;
  color: #888;
  border: 2px solid #C4C4C4;
  border-top: none;
  border-radius: 2px 2px 10px 10px;
  box-shadow: 5px 5px 10px #EDEDED;
  padding: 15px 10px;
  width: 80px;
}

/*MEDIA QUERIES*/
@media only screen and (max-width: 767px) {
  .ReleasePlanDayCurrent {
    top: 14px;
  }

  .ReleasePlanWeek {
    top: 13px;
  }
}
