.ReleasePlanDay {
  display: inline;
  background: white;
  border: 1px solid #004969;
  cursor: pointer;
  padding: 15px 10px;
  margin-left: 1px;
}

.ReleasePlanDayDone {
  display: inline;
  background: #004969;
  color: white;
  border: 1px solid #004969;
  padding: 15px 10px;
  margin-left: 1px;
}
