/*BASIC STYLING FOR THE ROLL BUTTON*/
/*when the button is disable*/
.RollButton {
  margin: 0 0 0 4.5%;
  outline: none;
  border: 2px solid #606060;
  border-radius: 5px;
  box-shadow: 0 1px 0;
  top: 4px;
  background: #c4c4c4;
  transition: all 0.3s ease;
  color: #606060;
  cursor:not-allowed;
}

/*when the button is enable*/
.RollButtonReady {
  margin: 0 0 0 4.5%;
  outline: none;
  border: 2px solid #425b35;
  border-radius: 5px;
  box-shadow: 0 5px 0;
  top: 0;
  background: #91C974;
  transition: all 0.3s ease;
  color: #425b35;
}

/*MEDIA QUERIES*/
@media only screen and (max-width: 767px) {
  .RollButtonReady,
  .RollButton {
    margin: 30px 0 10px -4px;
    top: -6px;
  }
}
