.RollButton {
  width: 100px;
  margin-left: 20px;  
  padding: 15px;
  outline: none;

  border: 2px solid #606060;
  border-radius: 15px;

  background: #c4c4c4;
  transition: background 0.5s ease;
  color: #606060;

  cursor:not-allowed;
}

.RollButtonReady {
  width: 100px;
  margin-left: 20px;
  padding: 15px;
  outline: none;

  border: 2px solid #567745;
  border-radius: 15px;

  background: #91C974;
  transition: background 0.5s ease;
  color: #567745;  
}
