.RollButton {
  /*width: 60px;*/
  padding: 14px 10px;
  outline: none;
  border: 3px solid #004969;
  border-radius: 5px;
  background: #fff;
  margin-left: 5px;
}

.RollButtonReady {
  /*width: 60px;*/
  padding: 14px 10px;
  outline: none;
  border: 3px solid #004969;
  border-radius: 5px;
  background: lime;
  margin-left: 5px;
}
