.releaseplan-img {
  margin-top: 60px;
  margin-bottom: 60px;
  max-width: 500px;
  width: 100%;
  text-align: center;
}

.rules-li {
  font-weight: bold;
}

.us-example {
  border: 2px solid black;
  width: 45%;
  height: 150px;
  float: right;
  text-align: center;
  margin: 0 0 0 1%;
}

.us-example-headline {
  font-weight: bold;
  color: #004969;
}

.action-card-example {
  border: 2px solid black;
  width: 45%;
  height: 150px;
  float: right;
  text-align: center;
  margin: 0 0 0 1%;
}

.multiplechoice-card-example {
  border: 2px solid black;
  width: 45%;
  height: 150px;
  float: right;
  text-align: center;
  margin: 0 0 0 1%;
}

.card-example {
  font-weight: bold;
}
